.checkbox {
  input[type='checkbox'] {
    height: 0;
    width: 0;

    + label {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      user-select: none;
      margin: .6em 0;
      cursor: pointer;
      transition: color 0.25s cubic-bezier(0.4, 0, 0.23, 1);

      span {
        position: relative;
        width: 1em;
        height: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 1px solid var(--border);
        border-radius: 2px;
        margin-right: 1em;
        cursor: pointer;
        transition: all 0.25s cubic-bezier(0.4, 0, 0.23, 1);
      }
    }

    &:checked + label > {
      span {
        border: .5em solid #FFEB3B;
        animation: shrink-bounce 0.2s cubic-bezier(0.4, 0, 0.23, 1);

        &::before {
          box-sizing: content-box;
          content: '';
          position: absolute;
          top: -2px;
          left: -7px;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          transform: rotate(45deg);
          transform-origin: 0% 100%;
          animation: checkbox-check 0.125s 0.25s cubic-bezier(0.4, 0, 0.23, 1) forwards;
        }
      }
    }
  }

  @keyframes shrink-bounce {
    0% {
      transform: scale(1);
    }

    33% {
      transform: scale(0.85);
    }

    100% {
      transform: scale(1);
    }
  }


  @keyframes checkbox-check {
    0% {
      width: 0;
      height: 0;
      border-color: #212121;
      transform: translate3d(0, 0, 0) rotate(45deg);
    }

    33% {
      width: 5px;
      height: 0;
      transform: translate3d(0, 0, 0) rotate(45deg);
    }

    100% {
      width: 5px;
      height: 12px;
      border-color: #212121;
      transform: translate3d(0, -0.5em, 0) rotate(45deg);
    }
  }
}
